<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LaundryRFID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Azure LUCERO -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=axl19b5lfx.database.windows.net;initial catalog=lucero-laundryrfid_db;user id=telectronica;password=neopic.1024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV LUCERO -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_Lucero;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV SMG -->
    <add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_SMG;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- DEV RAMON CARRILLO -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_Ramon_Carrillo;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV RAMON CARRILLO BK Prod -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_Ramon_Carrillo_Prod_20_04_2023;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV ESPAÑOL -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_Espanol;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- AZURE BANFIELD -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=axl19b5lfx.database.windows.net;initial catalog=banfield-laundryrfid_db;user id=telectronica;password=neopic.1024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV BANFIELD -->
     <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_Banfield;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
    <!-- DEV CCSS -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_CCSS;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- QA SMG -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017QA;initial catalog=LaundryRFID_SMG;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV DEMO -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=tel01db\SQL2017DEV;initial catalog=LaundryRFID_Demo;user id=sa;password=sa;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Azure DEMO -->
    <!--<add name="LaundryEntities" connectionString="metadata=res://*/ModelAsset.csdl|res://*/ModelAsset.ssdl|res://*/ModelAsset.msl;provider=System.Data.SqlClient;provider connection string=  &quot;data source=cloud.telectronica.com;initial catalog=SmartLinen_Demo;user id=telsql;password=neopic.1024;Max Pool Size=10000;Pooling=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="defaultUser" value="guest" />
    <add key="DefaultCulture" value="es" />
    <add key="RtiFormat" value="U" />
    <add key="HubConnectionAttempts" value="5" />
    <!-- LogMode: ALL | DATABASE | FILE -->
    <add key="LogMode" value="ALL" />
    <!--Establece el tiempo de espera(en segundos) en la ejecución de una sentencia sql.-->
    <add key="DbCommandTimeout" value="240" />
    <!-- Establece las ubicaciones padres que son auditables (Se debe indicar el nombre corto de la ubicación)-->
    <add key="AuditableParentLocations" value="" />
    <!-- Jobs -->
    <add key="GenerateRoadmapForPendingShippingsSchedule" value="0 * * * * ?" />
    <add key="AutomaticReceptionSchedule" value="0 0/5 * * * ?" />
  </appSettings>
  <system.web>
    <customErrors mode="On" />
    <httpRuntime targetFramework="4.5" />
    <compilation targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login" timeout="2880" />
    </authentication>
    <!--<authentication mode="Windows" />-->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" timeout="120" />
    <!--
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    -->
  </system.web>
  <location path="api">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- Activar con autenticación por Forms -->
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- Activar con autenticación por Forms -->
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"></httpErrors>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
    <gcServer enabled="true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <!--Esta sección contiene la configuración para registrar eventos de la aplicación.-->
    <appender name="MainAppender" type="log4net.Appender.RollingFileAppender">
      <!--Define el componente para agregar registros de eventos.-->
      <param name="File" value="Logs\LaundryRFID.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--
        Establece el patrón para la registración del evento, formado de la siguiente manera:
        
          campo1: %-5r, milisegundos desde que se comenzó a utilizar la aplicación justificado a 5 caracteres en total, con espacios a derecha.
          campo2: %d{dd/MM/yyyy HH:mm:ss}, fecha y hora del evento con el formato dd/MM/yyyy HH:mm:ss.
          campo3: %c, módulo que registró el evento.
          campo4: %-5p, nivel del evento justificado a 5 caracteres en total, con espacios a derecha.
          campo5: %m, mensaje del evento, que incluye la pila de trazabilidad de la excepción cuando el nivel del evento es ERROR.
          
          %n es un salto de línea.
        -->
        <param name="ConversionPattern" value="%-5r · %d{dd/MM/yyyy HH:mm:ss,fff} · %-5p · %m%n" />
      </layout>
    </appender>
    <logger name="MainLogger">
      <!--Establece la registración de eventos para todos los niveles.-->
      <level value="ALL" />
      <appender-ref ref="MainAppender" />
    </logger>
  </log4net>
</configuration>
<!--ProjectGuid: FCE9467D-6923-4317-9BDD-BF755F770194-->